html.pum-open.pum-open-overlay, html.pum-open.pum-open-overlay.pum-open-fixed .pum-overlay {
		padding-right: 0px !important;
		overflow: visible;
}

html.pum-open.pum-open-overlay.pum-open-scrollable .pum-overlay.pum-active {
  overflow-y: hidden;
}

.elementor-widget:not(:last-child) {
	margin-bottom: 0px !important;
}

.error404 #top-bar-wrap {
	visibility: hidden;
	display: none;
}

.error404 .page-header {
	visibility: hidden;
	display: none;
}

p {
		margin: 0 !important;
}

.fbc-page .fbc-wrap .fbc-items {
	font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: block;
	float: none;
	text-align: center !important;
}

#mega-menu-wrap-main_menu a{
	font-weight: 600;
}

#site-header {
    float: left;
    width: 100%;
		position: fixed;
}

#site-header-inner {
		width: 100%;
		max-width: 100%;
}

#footer-widgets .container {
    width: 100%;
    max-width: 100%;
}

a:focus {
	outline: none !important;
}

 /* anchor */
.elementor-menu-anchor {
  content: "";
  display: block;
  height: 100px; /* fixed header height*/
  margin: -100px 0 0; /* negative fixed header height */
  visibility: hidden;
  pointer-events: none;
}

.clickable-tel a:hover {
		color: #1196BD;
}

.mega-menu-wrap {
		font-weight: 600;
}

#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-item > ul.mega-sub-menu {
	box-shadow: 0 8px 15px rgba(0,0,0,.1);
}

body .plwao-loader-wrap {
		overflow: visible !important;
}

.vp-portfolio .vp-portfolio__items .vp-portfolio__item-meta,
.vp-portfolio .vp-portfolio__items .vp-portfolio__item-meta-wrap {
    overflow: hidden;
}

.vp-portfolio__items-style-fade {
  --vp-items-style-fade--image-hover__transform: scale(1.02);
}

.fancybox-slide--image .fancybox-content {
		overflow: hidden !important;
		white-space: nowrap;
		overflow-y: overlay;
}

.fancybox-slide--complete {
		overflow: hidden !important;
		white-space: nowrap;
		overflow-y: overlay;
}

body {
	width: 100%;
}
		
.ekit-wid-con .elementskit-info-image-box.style-modern .elementskit-box-body {
  border-radius: 0 !important;
}

.vp-portfolio__items-arrow.vp-portfolio__items-arrow-prev {
		background-color: grey;
}

.vp-portfolio__items-arrow.vp-portfolio__items-arrow-next {
		background-color: grey;
}

.vp-svg-icon {
	color: black;
}

/* Карниз парма для римских штор */
#popmake-5359 {
		margin-left: -35%;
		width: 70%;
}

/* Карниз парма для римских штор */
.vp-uid-0626adc3 .vp-portfolio__item .vp-portfolio__item-img img {
	width: auto;
	height: auto;
  margin: auto;
}

/* Карниз профильный алюминиевый */
.vp-uid-78a7ffce .vp-portfolio__item .vp-portfolio__item-img img {
	width: auto;
	height: auto;
  margin: auto;
}