html.pum-open.pum-open-overlay, html.pum-open.pum-open-overlay.pum-open-fixed .pum-overlay {
		padding-right: 0px !important;
		overflow: visible;
}

.elementor-widget:not(:last-child) {
	margin-bottom: 0px !important;
}

.error404 #top-bar-wrap {
	visibility: hidden;
	display: none;
}

.error404 .page-header {
	visibility: hidden;
	display: none;
}

p {
		margin: 0 !important;
}

.fbc-page .fbc-wrap .fbc-items {
	font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: block;
	float: none;
	text-align: center !important;
}

#mega-menu-wrap-main_menu a{
	font-weight: 600;
}

#site-header {
    float: left;
    width: 100%;
		position: fixed;
}

#site-header-inner {
		width: 100%;
		max-width: 100%;
}

#footer-widgets .container {
    width: 100%;
    max-width: 100%;
}

a:focus {
	outline: none !important;
}

 /* anchor */
.elementor-menu-anchor {
  content: "";
  display: block;
  height: 100px; /* fixed header height*/
  margin: -100px 0 0; /* negative fixed header height */
  visibility: hidden;
  pointer-events: none;
}

.clickable-tel a:hover {
		color: #1196BD;
}

.mega-menu-wrap {
		font-weight: 600;
}

#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-item > ul.mega-sub-menu {
	box-shadow: 0 8px 15px rgba(0,0,0,.1);
}

body .plwao-loader-wrap {
		overflow: visible !important;
}

.vp-portfolio__items-style-fade:hover {
	filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}

.vp-portfolio__items-style-fade {
  --vp-items-style-fade--image-hover__transform: scale(1.02);
}